[submodule "Apsis/dependancies/spdlog"]
	path = Apsis/dependancies/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "Apsis/dependancies/eigen-3.3.9"]
	path = Apsis/dependancies/eigen-3.3.9
	url = https://gitlab.com/libeigen/eigen.git
